body{
    background-image: url('bg.jpg');
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.mainHeader{
    font-size: 25px;
    margin: 30px;
    padding: 3px;
    background-color: cornsilk;
}


.subHeader{
    font-size: 20px;
    padding: 30px;
}


.homeOptions{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin: 30px;
    border-color: black;
    border: 1px;
}

a:visited, a:link{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
    border-color: black;
}

a:hover, a:active{
    color:red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:14px 25px;
    border-color:black;

}