body{
    background-image: url('bg.jpg');
}


#main-header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 30px;
    padding: 3px;
    background-color: cornsilk;
}


#sub-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 30px;
}


#home-options{
    list-style: none;
    text-align: center;
    font-size: 20px;
    margin: 30px;
    border-color: black;
    border: 1px;
}


#length-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;

}


#weight-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}


#temp-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

a:visited, a:link{
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 25px;
    border-color: black;
}

a:hover, a:active{
    color:red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding:14px 25px;
    border-color:black;

}