body{
    background-image: url('bg.jpg');
}

#mainHeader{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin: 30px;
    padding: 3px;
    background-color: cornsilk;
}


#lengthHeader{

}


#lengthFromHeader{

}


#lengthFrom{

}


#lengthValue{

}


#lengthToHeader{

}


#lengthTo{

}


#calculate{

}


#message{

}


#home-link{

}


#weight-link{

}